@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container{
    display: flex;
    background: linear-gradient(to top , rgb(83, 121, 121) 80px,rgb(21, 70, 70));
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: " ";
    position: absolute;
    background-color: rgb(29, 109, 109);
    height: 100%;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.first-content{
    display: flex;
    
}.first-content .second-column{
    z-index: 11;
}
.title{
    
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize ;
    
}
.title-second{
    color: rgb(59, 170, 170);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.title-welcome{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize ;
}
.list-social-media{
    font-size: 3em;
    list-style-type: none;
    display: flex;
    
}
.list-item{
    margin: 5px;
}
.bxl-facebook-circle:hover{
    color: #7edebc;
   
}
.bxl-google-plus-circle:hover{
    color: #7edebc;
}
.bxl-linkedin-square:hover{
    color: #7edebc;
}

 a > .bx{

    color: rgb(48, 119, 119);
    border-radius: 50%;
    text-align: center;
}
 .bx :hover{
    color: rgb(6, 245, 165);
}
.description{
    font-size: 21px;
    line-height: 30px;
    margin: 10px;
   
    font-weight: 300;
}
.description-primary{
    color: #fff;
}
.description-second{
    color: grey;
}
.btn{
    text-transform: uppercase;
    cursor: pointer;
    height: 50px;
    width: 40%;
    align-self: center;
}
.btn-primary{
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border:rgb(14, 124, 95) solid 1px;
    outline: none;
    height: 50px;
    width: 40%;
    color: rgb(14, 124, 95);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
}
.btn-primary:hover{
    background-color: rgb(14, 124, 95);
    color: #fff;
}
.btn-second{
    border-radius: 25px;
    background-color: transparent;
    border:#46b790 solid 1px;
    outline: none;
    height: 50px;
    width: 40%;
    color: #46b790;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
}
.btn-second:hover{
    background-color: rgb(63, 159, 127);
    color: rgb(241, 241, 241);
}
.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    width: 100%;
    border:  none;
    background-color: #ecf0f1;
    margin: 8px;
    outline: none;
    font-size: 22px;
}

.form input[type="submit"]{
    border:#46b790 solid 1px;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon{
    color: #46b790;
    padding: 5px;
    font-size: 25px;
}
.second-content{
    position: absolute;
   display: flex;
}
.second-content .first-column{
    order:2;
   z-index: -1;
}
.second-content .second-column{
    order:1;
    z-index: -1;
}
.password{
    text-decoration: none;
    color: #487565;
    text-align: center;
    margin: 15px 0px;
    font-size: 18px;
}
.password:hover{
    text-decoration: underline;
}
.sign-in-js .first-content .first-column,.sign-in-js .first-content .second-column{
    z-index: -1;
}

.sign-in-js .second-content .second-column{
    z-index: 11;
}
.sign-in-js .second-content .first-column{
    z-index: 13;
}
.sign-in-js .content::before{
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s;
    z-index: 12;
}
.sign-up-js .content::before {
    animation: slideout 1.5s;
    z-index: 12;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index:-1;
}

.sign-up-js .first-content .second-column{
    z-index:11;
}
.sign-up-js .first-content .first-column{
    z-index: 13;
}
/* deslocamento conteudo atras do content::before */

.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamento 1.5s;
}
.sign-up-js .second-content .second-column{
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.5s;
}
/* animação para o conteudo */

@keyframes deslocamento {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left: -80px;
        opacity: .5;
        
    }
    50%{
        left: -100px;
        opacity: .2;
       
    }
    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes deslocamentoDir {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left: 80px;
        opacity: .5;
        
    }
    50%{
        left: 100px;
        opacity: .2;
       
    }
    to{
        left: 110px;
        opacity: 0;
        z-index: -1;
    }
}


/* 
Animação CSS 
*/
@keyframes slidein {
    from{
        left: 0;
        width: 40%;
    }
    25%{
        left: 5%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to{
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout {
    from{
        left: 60%;
        width: 40%;
    }
    25%{
        left: 45%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 5%;
        width: 50%;
    }
    to{
        left: 0;
        width: 40%;
    }
}