@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
#logo img {
height: 120px;
 padding: 0;
 margin-top:-40px;
} 

 body{
    background: linear-gradient(to top , rgb(83, 121, 121) 80px,rgb(21, 70, 70));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
 }
 header{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
 }
 nav>a{
    color: #fff;
    text-decoration: none;
    margin: 15px;
    font-size: 21px;
    transition: .3s;
 }
 nav>a:hover{
    color: rgb(74, 141, 119);
 }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(17, 139, 127);
}
input[type = submit]{
    height: 35px;
    width: 80px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: aquamarine;
}
input[type = submit]:hover{
    background-color:  rgb(77, 160, 132);
}


#button {
    background-color: aquamarine;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    
}
button:hover{
    background-color: rgb(46, 110, 89);
} 
#carrinho{
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    width: 150px;
    border: none;
}
#carrinho:hover{
    outline: none;
    border: none;
    transition: 0.5s;
}

/* Barra de Pesquisa  */
.buttonc {
    position: relative;
    display: inline-block;
  }
  
  .buttonc input[type="text"] {
    height:25px;
    width: 300px;
    border: 2px solid  rgb(66, 175, 139);
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
  }
  
  .buttonc button {
    background-color: aquamarine;
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    height: 39px;
    padding: 5px;
    border: none;
    color: #fff;
    border-radius:2px ;
    text-decoration: none;
    transition: 0.5s;
  }

  .buttonc button:hover {
    background-color: rgb(44, 134, 104);
  }
  
  
  .buttonc:focus {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 39px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    border: none;
  }
  
  .bx  {
      width: 25px;
      font-size: 20px;
  }

main{
    border: none;
}
div.container{
    display: flex;
    height: 550px;
   
}
.box1{
    display: flex;
    flex-direction: column;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 190px;
    height: 25px;
    margin-top: 80px;
    margin-left: 120px;
    border: none;
    
}
aside> h1{
    font-size: 45px;
    font-family: Inconsolata;
    color: rgb(66, 175, 139);
}
aside>p{
    font-size: 22px;
}
#botao {
    background-color: aquamarine;
    border: none;
    margin-top: 50px;
    font-family: 'Work Sans';
    width: 180px;
    height: 40px;
    border-radius: 25px;
    transition: 0.4s;
}
#botao:hover {
    background-color: rgb(40, 116, 90);
 
}

.box2{
    display: flex;
    margin-left: 80px;
    gap: 5px;
    margin: 180px auto ;
    
}
.carta1{
   transition: .9s;
    color: #fff;
    width: 250px;
    height: 350px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border-radius: 23px;
    box-shadow: 0px 0px 8px black;
    padding: 50px;
}
.carta1>h1{
    text-align: center;
    transform: translateY(-25px);
}

.carta1>p{
    text-align: center;
    transform: translateY(-25px);
   
}
.carta1>h3{
    text-align: center;
    
}

.carta1>button{
    
    background-color: aquamarine;
    outline: none;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 180px;
    margin: auto;
    margin-top: 60px;
  

}
.carta2 >button :hover{
    background-color:rgb(37, 78, 64);
}

.carta2{
    transition: .9s;
    color: #fff;
    width: 250px;
    height: 350px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border-radius: 23px;
    box-shadow: 0px 0px 8px black;
    padding: 50px;
}
.carta2>h1{
    text-align: center;
    transform: translateY(-25px);
    
}
.carta2>p{
    text-align: center;
    transform: translateY(-25px);
   
}
.carta2>h3{
    text-align: center;
    
}

.carta2>button{
    
    background-color: aquamarine;
    outline: none;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 180px;
    margin: auto;
    margin-top: 33px;
    

}
.carta2 >button :hover{
    background-color: rgb(59, 105, 89);
}
.carta3{
    transition: .9s;
    color: #fff;
    width: 250px;
    height: 350px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border-radius: 23px;
    box-shadow: 0px 0px 8px black;
    padding: 50px;
}
.carta3>h1{
    text-align: center;
    transform: translateY(-25px);
}

.carta3>p{
    text-align: center;
    transform: translateY(-25px);
   
}
.carta3>h3{
    text-align: center;
    
}

.carta3>button{
    
    background-color: aquamarine;
    outline: none;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 180px;
    margin: auto;
    margin-top: 33px;
    

}
.carta3 >button :hover{
    background-color: rgb(59, 105, 89);
}
.carta1:hover{
    transition: 0.9s;
    transform: translateY(-25px);
}
.carta2:hover{
    transition: 0.9s;
    transform: translateY(-25px);
}
.carta3:hover{
    transition: 0.9s;
    transform: translateY(-25px);
}